@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@keyframes float3dY {
  0% {
    transform: perspective(600px) rotateY(0deg) translateY(0px);
  }

  25% {
    transform: perspective(600px) rotateY(5deg) translateY(-6px);
  }

  50% {
    transform: perspective(600px) rotateY(0deg) translateY(0px);
  }

  75% {
    transform: perspective(600px) rotateY(-5deg) translateY(-6px);
  }

  100% {
    transform: perspective(600px) rotateY(0deg) translateY(0px);
  }
}

.animate-float-3dy {
  animation: float3dY 5s linear infinite;
  transform-style: preserve-3d;
}